<div class="banco-container">
  <div class="cadastro-container">
    <h2>Cadastro de Banco</h2>
    <div class="cadastro-form">
      <div>
        <label for="nomeBanco">Nome do Banco:</label>
        <input type="text" id="nomeBanco" [(ngModel)]="novoBanco.nome" name="nomeBanco">
      </div>
      <div>
        <label for="dataFundacao">Data de Fundação:</label>
        <input
          type="date"
          id="dataFundacao"
          [ngModel]="(novoBanco.dataFundacao || '').split('T')[0]"
          (ngModelChange)="atualizarDataFundacao($event)"
          name="dataFundacao">
      </div>
      <button (click)="adicionarBanco()">Cadastrar novo banco</button>
    </div>
  </div>

  <div class="listagem-container">
    <h3>Lista de Bancos</h3>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data Fundação</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let banco of bancos">
          <ng-container *ngIf="banco">
            <td>{{ banco.nome }}</td>
            <td>{{ banco.dataFundacao }}</td>
            <td [ngClass]="{ ativo: banco.ativo, inativo: !banco.ativo }">
              {{ banco.ativo ? 'Ativo' : 'Inativo' }}
            </td>
            <td>
              <!-- <button -->
                <!-- *ngIf="banco.ativo" -->
                <!-- (click)="desativarBanco(banco)" -->
                <!-- class="btn-desativar"> -->
                <!-- Desativar -->
              <!-- </button> -->
              <span *ngIf="!banco.ativo">Desativado</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
