<div class="dashboard-container">
    <aside class="sidebar">
      <h2>Acutis</h2>
      <nav>
        <ul>
          <li routerLink="/dashboard/bancos" routerLinkActive="active">Bancos</li>
          <li routerLink="/dashboard/agencias" routerLinkActive="active">Agências</li>
          <li routerLink="/dashboard/usuarios" routerLinkActive="active">Usuários</li>
          <li routerLink="/dashboard/contas" routerLinkActive="active">Contas</li>
          <li routerLink="/dashboard/transacoes" routerLinkActive="active">Transações</li>
          <li routerLink="/dashboard/historico" routerLinkActive="active">Histórico</li>
        </ul>
      </nav>
    </aside>
  
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
  